.nav-item
{
    border-left: solid 1px grey;
}
label.label-form
{
color: black;
}
.menu-akun
{
    margin-right: 5px;
}

.dropdown-item:hover
{
    background-color: whitesmoke;
}
.toHide
{
    display: none;
}